{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h2>Chart-JS with DRF and Fetch API</h2>
            <canvas id="cities-chart" width="300" height="125"></canvas>
        </div>
        <div class="col-md-6 col-sm-12">
            <h2>Chart-JS with DRF and Fetch API</h2>
            <canvas id="sales-chart"></canvas>
        </div>
    </div>
    <div class="row mt-5 pt-5">
        <div class="col-md-6 col-sm-12">
            <h2>Chart-JS with jQuery AJAX</h2>
            <canvas id="population-chart" data-url="{% url 'population-chart-data' %}" width="300"
                    height="175"></canvas>
        </div>
        <div class="col-md-6 col-sm-12">
            <h2>Chart-JS with Fetch API</h2>
            <canvas id="cities-chart-2" data-url="{% url 'pie-chart-data' %}" width="300" height="125"></canvas>
        </div>
    </div>
    <script src="{% static  "js/chart-js/cities-chart.js" %}"></script>
    <script src="{% static  "js/chart-js/sales-chart.js" %}"></script>
    <script src="{% static  "js/chart-js/population-chart.js" %}"></script>
    <script src="{% static  "js/chart-js/cities-chart-2.js" %}"></script>

{% endblock %}