{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Highcharts with DRF and Fetch API</h2>
            <div id="browsers-chart">
            </div>
        </div>
    </div>
    <div class="row mt-5 pt-5">
        <div class="col-md-8 offset-md-2">
            <h2>Highcharts with DRF and Fetch API</h2>
            <div id="rainfall-chart">
            </div>
        </div>
    </div>
    <div class="row mt-5 pt-5">
        <div class="col-md-6">
            <h2>Highcharts with Fetch API</h2>
            <div id="passengers-chart-1" data-url="{% url 'chart-data' %}">
            </div>
        </div>
        <div class="col-md-6">
            <h2>Highcharts with jQuery Ajax</h2>
            <div id="passengers-chart-2" data-url="{% url 'chart-data' %}">
            </div>
        </div>
    </div>
    <div class="row mt-5 pt-5">
        <div class="col-md-8 offset-md-2">
            <h2>Highcharts with Fetch API</h2>
            <div id="survived-chart" data-url="{% url 'survived-data' %}">
            </div>
        </div>
    </div>

    <script src="{% static  "js/highcharts/browsers-chart.js" %}"></script>
    <script src="{% static  "js/highcharts/rainfall-chart.js" %}"></script>
    <script src="{% static  "js/highcharts/passengers-chart.js" %}"></script>
    <script src="{% static  "js/highcharts/survived-chart.js" %}"></script>
{% endblock %}