{% extends "base.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Highcharts and Chart-JS</h1>
            <p>Examples of the popular charting libraries from Highcharts and Chart-JS.</p>
            <h2>Elevate your data</h2>
            <p>A simple options-structure allows for deep customization, and styling can be done via JavaScript or CSS.
                Highcharts is also extendable and pluggable for experts seeking advanced animations and
                functionality.</p>
            <h2 class="pt-5">Chart.js</h2>
            <p>Simple yet flexible JavaScript charting for designers & developers.</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3">
            <h3>Open source</h3>
            <p>Chart.js is a community maintained project, contributions welcome!</p>
        </div>
        <div class="col-md-3">
            <h3>8 Chart types</h3>
            <p>Visualize your data in 8 different ways; each of them animated and customisable.</p>
        </div>
        <div class="col-md-3">
            <h3>HTML5 Canvas</h3>
            <p>Great rendering performance across all modern browsers (IE11+).</p>
        </div>
        <div class="col-md-3">
            <h3>Responsive</h3>
            <p>Redraws charts on window resize for perfect scale granularity.</p>
        </div>
    </div>
{% endblock %}
